.jumbotron .col-sm-4 {
  text-align: center;
}

.jumbotron img {
  width: 300px;
}

img.img-responsive {
  vertical-align: center;
}

ul.navigation-menu {
  padding: 0px;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    text-align: center;
  }

  .navigation-menu {
    text-align: center;
  }

  .navigation-menu li {
    display: inline-block;
    width: 30%;
  }
}
